    </section>

    <footer>
        <hr class="footer-rule"/>

        <p>Look at this fancy footer!</p>
        <p>Find me on other sites:</p>
        <ul>
            {{ range .Site.Menus.sites }}
                <li>
                    <a href="{{ .URL }}">
                        <span class="{{ .Pre }}"></span>
                    </a>
                </li>
            {{ end }}
        </ul>
    </footer>

</body>
</html>
