<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    {{ partial "meta.html" .}}
    {{ partial "includes.html" .}}
    {{ partial "highlighting.html" . }}
</head>
