<link rel="stylesheet" href="/css/styles.css?v={{ getenv "TIMESTAMP" }}">
<link href='https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">
