<!-- All tags here should be closed in footer.html -->
<body>

    <header>
        <section>
            <a class="site-title" href="/">{{ .Site.Title }}</a>

            <ul class="nav-list">
                {{ range .Site.Menus.main }}
                    <li>
                        <a href="{{ .URL }}">
                            <span class="nav-icon {{ .Pre }}"></span>
                            <span class="nav-name">{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </section>
    </header>

    <section>
    {{ partial "breadcrumbs.html" . }}
    <!-- Content! -->
