<div class="paginator">
    <div class="prev">
        {{ if (.Paginator).HasPrev }}
        <a href="{{ (.Paginator).Prev.URL }}"> <span class="icon-angle-double-left"></span> Newer </a>
        {{ end }}
    </div>

    <span class="current">
        <span> Page {{ (.Paginator).PageNumber }} of {{ (.Paginator).TotalPages }} </span>
    </span>

    <div class="next">
        {{ if (.Paginator).HasNext }}
        <a href="{{ (.Paginator).Next.URL }}"> Older <span class="icon-angle-double-right"></span> </a>
        {{ end }}
    </div>
</div>
