<div class="post-meta">
    <span class="icon-calendar"></span>
    {{ .Date.Format "Mon, Jan 2, 2006" }}
    <span class="icon-tags"></span>
    {{ range .Params.tags }}
        {{ partial "tag.html" . }}
    {{ end }}
</div>
