{{ partial "header_with_highlighting.html" . }}
{{ partial "page_header.html" . }}

<article class="post">
  <h1><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></h1>
  {{ partial "post_meta" .}}

  {{ .Content }}
</article>

{{ partial "footer.html" . }}
