{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<h1>Page not found</h1>

<p>Whatever you were looking for isn't here. Sorry!</p>
<img src="/images/404.png" />

{{ partial "footer.html" . }}
