{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

{{ range .Data.Pages }}
    {{ if eq .Type "page" }}
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    {{ end }}
{{ end }}

<h2>Recent Posts</h2>
{{ range first 3 (where .Data.Pages "Section" "post") }}
    {{ .Render "shorter" }}
{{ end }}

<p></p>

<h2>Recent Happy</h2>
{{ range first 1 (where .Data.Pages "Section" "happy") }}
    {{ .Render "short" }}
{{ end }}

{{ partial "footer.html" . }}
