<!-- img-noscale -->
<figure>
  <a href="/images/misc/{{ .Get "src" }}">
    <img src="/images/misc/{{ .Get "src" }}" />
  </a>
  <figcaption>
      {{ .Get "title" }}
  </figcaption>
</figure>
<!-- img-noscale -->
