<!-- img -->
<figure>
  <a href="/images/full/{{ .Get "src" }}">
    <img src="/images/thumb/{{ .Get "src" }}" />
  </a>
  <figcaption>
      {{ .Get "title" }}
  </figcaption>
</figure>
<!-- img -->
