{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<h1>Things what made me happy</h1>

<p>
I am trying to write down the things that made me happy every week. Sorted by
date, newest first.
</p>

{{ range (.Paginator 20).Pages }}
    {{ .Render "short" }}
{{ end }}

{{ partial "paginator.html" .}}

{{ partial "footer.html" . }}
