{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<h1>Blog Posts</h1>

<p>
This page lists all of the posts that I've made, ordered by date. You may also
be interested in browsing posts <a href="/tags/">by tag</a>.
</p>

{{ range .Paginator.Pages }}
    {{ .Render "short" }}
{{ end }}

{{ partial "paginator.html" .}}

{{ partial "footer.html" . }}
