{{ partial "header.html" . }}
{{ partial "page_header.html" . }}

<h1 class="title">Posts tagged with {{ partial "tag.html" .Title }}</h1>
<p></p>

{{ range .Paginator.Pages }}
    {{ .Render "short" }}
{{ end }}

{{ partial "paginator.html" .}}

{{ partial "footer.html" . }}
