/**
 * Contains fairly generic base styles to get us to a saner starting point than
 * the browser or normalize.css would leave us in.
 */

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: $font-sans;
  font-weight: 400;
  line-height: 1.6;

  color: $color-text-black;

  height: 100%;
}

a {
  text-decoration: none;
  color: #1976D2;

  &:hover {
    color: #1565C0;
  }
}

.base-heading {
  font-family: $font-serif;
  font-weight: 400;
}

h1 {
  @extend .base-heading;
  text-align: center;
  margin-bottom: 0.6em;
}

h2 {
  @extend .base-heading;
  padding-top: 0.6em;
  margin-bottom: 0.4em;
}

p {
  line-height: 1.8em;
  margin-bottom: 2em;
}

section {
  width: 90%;
  max-width: 45em;
  margin: 0 auto;

  @include desktop {
    width: 80%;
  }
}

.no-dots {
  list-style: none;
}

img {
  max-width: 100%;
  box-sizing: border-box;
}

pre {
  margin-bottom: 2em;
}

ul, ol {
  margin-bottom: 2em;
}

blockquote {
  border-left: 0.2em solid $color-accent-light;
  font-style: italic;

  margin-left: 1.5em;
  margin-bottom: 2em;

  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  p {
    margin-bottom: 0;
  }
}
