/**
 * Contains styles for the footer
 */

footer {
  color: $color-text-black-65;

  margin: 8em auto 0;
  padding: 3em 2em;
  max-width: 50em;

  text-align: center;
  font-size: 0.8em;

  p {
    margin-bottom: 1em;
  }

  ul {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0;
    list-style: none;

    li {
      display: inline;
    }
  }

  a {
    padding: 0.4em;
    font-size: 1.5em;
    color: $color-text-black-65;

    &:hover{
      color: $color-text-black;
    }
  }
}

.footer-rule {
  border: 0;
  height: 1px;
  margin-bottom: 1em;
  background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.34),
          rgba(0, 0, 0, 0));
}
