/**
 * Contains styles relating to the header and navigation.
 */

$header-height: 2.2rem;

/**
 * Base styles for the header and everything in it.
 */
header {
  text-align: center;
  color: white;
  background-color: $color-accent-light;

  padding: 0.6rem 0.6rem 0.6rem 1rem;

  box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.6);
  overflow: hidden;
}

.site-title, .site-title:hover {
  line-height: $header-height;

  font-family: $font-serif;
  font-size: 1.4em;
  font-weight: 700;
  color: white;

  @include tablet {
    float: left;
  }
}

.nav-list {
  line-height: $header-height;
  font-weight: 700;

  list-style: none;
  display: block;
  margin: 0;
  padding: 0;

  @include tablet {
    float: right;
  }

  li {
    display: inline;
  }

  a {
    color: $color-text-white;
    padding: 0.7em;

    &:hover {
      color: white;
    }
  }
}

.nav-name {
  display: none;

  @include desktop {
    display: inline;
  }
}

.nav-icon {
  display: inline;

  @include desktop {
    display: none;
  }
}
