.paginator {
  font-size: 0.9em;
  text-align: center;

  padding-top: 2em;

  .prev {
    display: inline-block;
    float: left;

    width: 10em;
    height: 2em;

    text-align: left;
  }

  .next {
    display: inline-block;
    float: right;

    width: 10em;
    height: 2em;

    text-align: right;
  }
}