/**
 * Styles for posts
 */

.post {
  h1 {
    margin-top: 1.4em;
    margin-bottom: -0.2em;
  }

  .post-meta {
    text-align: center;
    margin-bottom: 2.5em;
  }

  figure {
    font-size: 0.9em;
    text-align: center;
    margin: 3em;

    img {
      border-radius: 0.6em;
    }
  }

  pre {
    font-size: 0.8em;
  }
}

.post-shorter {
  margin-top: 1em;
  margin-bottom: 1em;

  .title {
    font-size: 1.1em;
    display: block;
  }
}

.post-short {
  h2 {
    margin-bottom: -0.2em;
  }
}

.post-meta {
  margin-bottom: 0.2em;
}
