/**
 * Styles for my blog!
 *
 * All styles are mobile-first. Include a desktop mixin if you want to do
 * something desktop specific.
 */

$font-serif: ("Slabo 27px", serif);
$font-sans: ("Open Sans", sans-serif);

$color-accent-light: #9C27B0;
$color-accent-dark: #7B1FA2;
$color-background-dark: #212121;
$color-text-white: rgba(255, 255, 255, 0.87);
$color-text-white-65: rgba(255, 255, 255, 0.65);
$color-text-white-34: rgba(255, 255, 255, 0.34);
$color-text-black-65: rgba(0, 0, 0, 0.65);
$color-text-black-34: rgba(0, 0, 0, 0.34);
$color-text-black: rgba(0, 0, 0, 0.87);
$color-text-header: white;

$desktop-width: 768px;
$tablet-width: 500px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@import 'normalize';
@import 'fontello';

@import 'base';
@import 'header';
@import 'post';
@import 'happy';
@import 'footer';
@import 'paginator';
@import 'breadcrumbs';
